.sec1{
    background-color: rgb(194, 194, 171);
}
.heading{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    color: rgb(53, 92, 79);
}

.btn{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    gap: 20rem;
}
button{
    background-color: rgb(64, 189, 93);
    color: black;
    margin: 12px;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
}

.count{
    text-align: center;
    position:relative;
    top: -40px;
}